.container {
  display: grid;
  grid-template-columns: 15rem 15rem 15rem;
  grid-gap: 3rem;
  grid-auto-flow: row;
  text-align: center;
  height: 10rem;
}

.ChessTimer {
  min-width: 500px;
  min-height: 500px;
}

.timer {
  height: 200px;
  width: 350px;
  margin: 25px;
  background-color: rgb(81, 179, 236);
  color: black;
  display: block;

}

#timerBlack {
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
}

.controlButton {
  height: 55px;
  width: 55px;
  margin: 2px;
  color: blue;
  display: inline-block;
}

button:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: rgb(13, 13, 131);
  color: #666666;
}